// General - light
$whitePrimary: #ffffff;
$lightPrimary: #ececec;
$lightSecondary: #a5a5a5;
$lightTertiary: #d8d8d8;
$lightQuaternary: #f8f8f8;
$lightSenary: #e8e8e8;

// General - dark
$blackPrimary: #262626;
$darkPrimary: #262626;
$darkSecondary: #404040;

// Brand
$brandBlack: #333333;
$brandBlue: #1e92ff;
$brandPurple: #7d4dff;
$brandPink: #ec439d;

// Text
$textLightPrimary: $lightPrimary;
$textLightSecondary: $lightSecondary;
$textDarkPrimary: $darkPrimary;
