$breakpoints: (
  xs: (
    max: 767px,
  ),
  sm: (
    min: 768px,
    max: 991px,
  ),
  md: (
    min: 992px,
    max: 1199px,
  ),
  lg: (
    min: 1200px,
    max: 1499px,
  ),
  xl: (
    min: 1500px,
  ),
);
