@use 'reset';
@use 'usables/variables/colors';
@use 'usables/variables/sizes';

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include font-smoothing;
  background-color: colors.$lightPrimary;
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: sizes.$fontBody;
  color: colors.$textDarkPrimary;
  line-height: 1.5;
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
